<h1 xmlns="http://www.w3.org/1999/html">{{ question.question_text }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{##}
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
{#        forloop.counter indicates how many times the for tag has gone through its loop#}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
        <label for="choice{{ forloop.counter }}">{{ choice.choice_txt }}</label>
        <br/>
    {% endfor %}
<input type="submit" value="Vote"/>
</form>

{#What the hell above??? #}


{#官方教程3中的内容#}
{#<ul>#}
{#    {% for choice in question.choice_set.all %}#}
{#        <li>{{ choice.choice_txt }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
